# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
typing
#openai
SpeechRecognition
soundfile
termcolor
Unidecode
git+https://github.com/openai/whisper.git 
